




 <!DOCTYPE html>
<html>
  <head>
    <title>Contact form</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: red;
      }
      h1 {
      margin: 0 0 20px;
      font-weight: 400;
      color: #1c87c9;
      }
      p {
      margin: 0 0 5px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      min-height: 100vh;
      background: #1c87c9;
      }
      form {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #435d7d; 
      background: #435d7d; 
      }
      .fas {
      margin: 25px 10px 0;
      font-size: 72px;
      color: #fff;
      }
      .fa-envelope {
      transform: rotate(-20deg);
      }
      .fa-at , .fa-mail-bulk{
      transform: rotate(10deg);
      }
      input, textarea {
      width: calc(30% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 35%;
      padding: 10px;
      border: none;
      background: red; 
      font-size: 10px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #435d7d;
      }    
      @media (min-width: 568px) {
      .main-block {
      flex-direction: row;
      }
      .left-part, form {
      width: 50%;
      }
      .fa-envelope {
      margin-top: 0;
      margin-left: 20%;
      }
      .fa-at {
      margin-top: -10%;
      margin-left: 65%;
      }
      .fa-mail-bulk {
      margin-top: 2%;
      margin-left: 28%;
      }
      }
    </style>
  


</head>
  <body style="background-color: #f5f5f5;"> 
     
<form method="POST" action="/deletepersone">
  

  
  <h3 >Name:</h3> <%= element.name %> <br>
  <h3 >Phone:</h3> <%= element.phone %> <br>
  <h3 >Email:</h3> <%= element.email %> <br> <br> <br>
  

  
  <input type="hidden"  name="id" value="  <%= element.id %>  " /><br />

  
  <button type="submit"><h3>Delete</h3></button>
  
 </form>
 <form action="/" method="get"><button type="submit" style="background-color: #5cb85c;"><h3>Cancel</h3></button></form>

      
    
  </body>
</html>

